<!DOCTYPE html>
<html>
<style>
  body {
    background-color: gray;
    color: white;
  }

</style>
<head>
<title>Alpha-Blog</title>
</head>
<body>

<h1>This is the Alpha-Blog about page!</h1>
<p>These are some of my sweet qualities as a person!</p>
  <ul>
    <li>Tall</li>
    <li>Dark</li>
    <li>Handsome</li>
    <li>Stunning</li>
  </ul>
<p>This is an image of my current vision board!</p>
<%= image_tag 'VB APril copy.jpg' %>

<p>Click the link below to head back to the home page</p>
<%= link_to 'About', about_path %>

</body>

</html>
